* {
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    background-color: #ffffff;
}

.bill-history,
.logo img,
.cards {
    background-color: #f8f9fe;
}

main {
    padding: 0px 16px;
    padding-top: 1px;
}

.navBar {
    position: fixed;
    /*     width: 100%;
 */
    padding: 16px 16px;
    display: flex;

    /*     box-shadow: 0px 3px 6px #e6e6e6;
 */
    z-index: 1;

}

.navBar img {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: #e3e5fe;
    padding: 8px;
}

.navBar h2 {
    color: #f8f9fe;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-top: -2px;
}




.bill-history {
    padding: 16px;
    border-radius: 16px;
    margin-top: 70px;
}

.bill-history .chips {
    display: flex;
}

.bill-history .chips button,
.moreButton .btn {
    font-size: 10px;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 22px;
    border: .5px solid #6c757d;
    margin-right: 8px;

}

.bill-history .chips button:focus,
.moreButton .btn:focus {
    background-color: #0d6efd;
    color: #fff;
    border: none;
}

.bill-history,
.cards {
    box-shadow: 0px 0px 12px #d8dce6;
}

.list {
    margin-top: 10px;
}

.list .cardOne {
    background-color: #e3e5fe;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    border-radius: 12px;
    width: 100%;
    align-items: center;
    margin: 6px 0px;
}


.list .cardOne .cardTitle {
    display: flex;
    align-items: center;
}

.list .cardOne .logo {
    padding: 8px;
}

.list .cardOne .logo img {
    padding: 8px;
    border-radius: 50px;
    width: 36px;
    height: auto;
}

.list .cardOne .icon img {
    height: 22px;
    width: auto;
    padding: 6px;
}


.list .cardOne h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
}

.list .cardOne .title h4 {
    font-size: 10px;
    margin: 0px;
    color: #252525;
    font-weight: 400;
}


.moreButton .btn {
    border-radius: 28px;
    font-size: 10px;
    padding: 4px 10px;
    margin-top: 4px;
}

.listcard {
    margin-top: 20px;
}

.listcard h2 {
    font-size: 16px;
}

.listcard .cards {
    padding: 16px 0px;
    margin: 0px;
    border-radius: 16px;
}


.select {
    text-align: center;
    text-decoration: none;
    color: #454545;
    padding: 6px;
    margin: 0px;
}


.select h4:hover {
    color: #495057;
}

.listcard .cards .selected :hover {
    color: #252525;
}

.listcard .cards .select .logoImage img {
    width: 48px;
}

.listcard .cards .select h4 {
    font-size: 12px;
    margin-top: 8px;
}

.listcard:last-child {
    margin-bottom: 50px;
}








.inputs {
    position: relative;
    padding: 60px 32px;
}


.inputs .organisationLogo img {
    margin-top: 20px;
    width: 50px;
    height: auto;
}

.row {
    margin-top: 40px;
    display: flex;
}

.inputs h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
}

.form-control {
    border-radius: 12px;
    height: 50px;
    border: none;
    background-color: #e3e5fe;
}


.form-control:focus {
    outline: none;
    outline-style: none;

}

textarea:focus,
input:focus {
    outline: none;
}


form a {
    font-size: 12px;
    color: #6c757d;
}

form .button {
    margin-top: 200px;
}

form .btn {
    border-radius: 12px;
    font-size: 16px;
    width: 165px;
    height: 48px;
}